.m-b-10{
    margin-bottom: 10px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-t-10{
    margin-top: 10px;
}
.title{
    
    color: white;
    font-size:18px;
}
.price{
    color: white;
    font-size:18px;
}
.carousel-caption{
    position: absolute;
    text-align: center;
}
.carousel-caption h3{
    text-transform: uppercase;
    color: #ffc55e;
 font-size: 50px;
}


.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: #f1f3f5;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
.affiliations>img{
    height: 60px;
    width: auto;
}
.ads-label{
    position: absolute;
    text-transform: uppercase;
    top:150px;
    left:150px;
    /*vertical-align: middle;*/
    /*text-align: center ;*/
}
.active{
    color: white;
    background:none ;
}
